            <form onsubmit={{action "submitChanges"}}>
                <div class="field">
                    <label>First Name:</label>
                    {{input type="text" maxlength="30" placeholder="First Name" value=first}}
                </div>



                <div class="field">
                    <label>Last Name:</label>
                    {{input type="text" maxlength="30" placeholder="Last Name" value=last}}
                </div>

                <div class="form-footer">
                    <button type="submit" class="btn-submit">save</button>
                </div>


            </form>